input {
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    font-size: 1rem;
    outline: none;

  }

  /* input[type=password] {
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  input[type=email] {
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  } */

div {	  
	border-radius: 10px;
	/* background-color: #f2f2f2; */
	/* padding: 20px; */
}	
	
h1 {
	text-align: center;
	font-weight: bold;
}
h2 {
	text-align: center;
	padding: 2px 2px; 
}

h3 {
	/* background-color: red; */
	text-align: center;
	/* font-weight: bold; */
}


/* span {
	display: flex;
	justify-content: end;
} */

/* form { 
	border:solid #000;
	background-color: aqua;
	width: 400px; 
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */
.modals {
	position: absolute;
	width: 400px;
	/* background-color: white; */
	border: 2px solid #000;
	padding: 16px 32px 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%	);
}
.textField {
	width: 100%;
}
.button {
	text-align: center;
}

.divNewForm {
	/* border:solid 4px #6eb9ff; */
	background-color: #f2f2f2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px; 
	height: auto;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
	padding: 20px;
}

#UserTable {
	/* background-color: #6eb9ff; */
/* border:solid 2px #6eb9ff; */
border-radius:10px;
margin-left: auto;
margin-right: auto;
width: 350px;
/* ! */
/* background-color: #f2f2f2; */
/* position: absolute; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
height: auto;
/* box-shadow: 0 0 24px rgba(0, 0, 0, 0.5); */
padding: 20px;
border-radius: 15px;
}




.tableCard {
	background-color: #f2f2f2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px; 
	height: auto;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 15px;
}


.areasTable {
	height: 400px;
	width: 100%;
}

.addEmployee {
	background-color: #f2f2f2;
border:solid 2px #6eb9ff;
padding:30px;
border-radius:10px;
/* flex-direction: column; */
font-weight: bold;
width: 500px;
height: auto;

}

.tableContainer {
	padding: 20px;
	/* padding-bottom: 200px; */

	/* box-shadow: 10px 5px 5px #6eb9ff; */
}

.AreasButton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	outline: none;
	/* width: 500px; */
}

.buttonNewForm {
	display: flex;
	justify-content: space-between; /* Esto empujará el botón a la derecha */
	align-items: center; /* Para alinear verticalmente si es necesario */
}

.rowSeparation {
	/* background-color: #6eb9ff; */
	height: 30px;
	font-size: 35px;
	padding-bottom: 1px;
	padding-top: 1px;
	/* padding: 100px; */
}

.buttonCell {
	width: 1000px;
	background-color: red;
	/* display: flex; */
	/* justify-content: space-between; */
  }
  
  /* Estilos adicionales según sea necesario */
  

#tcName {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcEmpName {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcFirstName {
	padding-bottom: 1px;
	padding-top: 1px;
}
#tcEmpFirstName {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcLastName {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcEmpLastName  {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcButtonArea {
	/* background-color: red; */
	padding-bottom: 1px;
	padding-top: 1px;
	width: 250px;
}
#tcButtonEdit {
	/* background-color: blue; */
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcNameUser {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcUsrName {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcCorreoUser {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcUsrCorreo {
	padding-bottom: 1px;
	padding-top: 1px;
}

#tcAreas {
	padding-bottom: 1px;
	padding-top: 1px;
}


#tcUsrAreas {
	padding-bottom: 1px;
	padding-top: 1px;
}