input {
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1rem;
	outline: none;	
	/* background-color: red; */

}

/* input[type=password] {
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  input[type=email] {
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  } */

div {
	border-radius: 10px;
	/* background-color: #f2f2f2; */
	/* padding: 20px; */
}

h1 {
	text-align: center;
	font-weight: bold;
}

h2 {
	text-align: center;
	padding: 2px 2px;
}

h3 {
	text-align: center;
}

h4 {
	/* background-color: red; */
	text-align: center;
	padding: 8px 0;
	/* font-weight: bold; */
}


/* span {
	display: flex;
	justify-content: end;
} */

/* form { 
	border:solid #000;
	background-color: aqua;
	width: 400px; 
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */
.modals {
	position: absolute;
	width: 400px;
	/* background-color: white; */
	border: 2px solid #000;
	padding: 16px 32px 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.textField {
	width: 100%;
}

.button {
	text-align: center;
}

.divNewForm {
	border:solid 2px #708090;
	background-color: #f2f2f2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: auto;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
	padding: 20px;
}

#UserTable {
	/* background-color: #6eb9ff; */
	border:solid 2px #708090;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	/* ! */
	/* background-color: #f2f2f2; */
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	height: auto;
	/* box-shadow: 0 0 24px rgba(0, 0, 0, 0.5); */
	padding: 20px;
	border-radius: 15px;
}




.tableCard {
	background-color: #f2f2f2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: auto;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 15px;
}


.areasTable {
	height: 400px;
	width: 100%;
}

.addEmployee {
	background-color: #f2f2f2;
	border: solid 2px #6eb9ff;
	padding: 30px;
	border-radius: 10px;
	/* flex-direction: column; */
	font-weight: bold;
	width: 500px;
	height: auto;

}

.tableContainer {
	padding: 20px;
	/* padding-bottom: 200px; */

	/* box-shadow: 10px 5px 5px #6eb9ff; */
}

.AreasButton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	outline: none;
	/* width: 500px; */
}

.buttonNewForm {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rowSeparation {
	/* background-color: #6eb9ff; */
	height: 35px;
	padding-bottom: 1px;
	padding-top: 1px;
	/* padding: 100px; */
}

.buttonCell {
	width: 1000px;
	background-color: red;
	/* display: flex; */
	/* justify-content: space-between; */
}

#tcName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcEmpName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcFirstName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcEmpFirstName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcLastName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcEmpLastName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcButtonArea {
	/* background-color: red; */
	padding-bottom: 1px;
	padding-top: 1px;
	width: 250px;
	/* border-bottom: none; */
}

#tcButtonEdit {
	/* background-color: blue; */
	padding-bottom: 1px;
	padding-top: 1px;
	/* border-bottom: none; */
}

#tcNameUser {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcUsrName {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcCorreoUser {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcUsrCorreo {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}

#tcAreas {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}


#tcUsrAreas {
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom: none;
}
